{% extends "header.html" %}
<body>
{% block body %}
	<!-- Page Heading/Breadcrumbs -->
	<div class="section sub-header">
		<div data-wow-duration="4s" style="visibility: visible; animation-duration: 4s; animation-name: bounceInRight;" class="container bounceInRight animated">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Not Found
						<small>Your request not found</small>
					</h1>
					<ol class="breadcrumb">
						<li><a href="/"><i class="fa fa-home"></i> Home</a>
						</li>
						<li class="active">404</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
    <!-- Page Content -->
    <div class="container">
		<div class="row">

            <div class="col-lg-12">
				<div class="main-content">
					<div class="error-page text-center">
					<h1>404</h1>
					<h3>File not Found</h3>
					<p>We're sorry, but the page you were looking for doesn't exist.</p>
					<div class="text-center"><a class="btn btn-primary" href="/">Back To Home</a></div>
					</div>
				</div>
            </div>

        </div>
	</div>
  <!-- jQuery -->
  <script src="{{ static_url("js/jquery.js") }}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{{ static_url("js/bootstrap.min.js") }}"></script>
{% end %}
</body>
