<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tupay Management Docker">
    <meta name="author" content="Tupay">

    <title>{{ escape(handler.settings["tupay_title"]) }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ static_url("css/bootstrap.min.css") }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ static_url("css/style.css") }}" rel="stylesheet">

        <!-- Animate CSS -->
    <link href="{{ static_url("css/animate.css") }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ static_url("font-awesome/css/font-awesome.min.css") }}" rel="stylesheet" type="text/css">
</head>

<!-- Navigation -->
<nav class="navbar navbar-inverse osahan-header" role="navigation">
    <div class="container">
        <!-- Brand -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" onclick="window.open('/', '_self', '');" href="#">
              <div class="title text-center">
                <h1 style="color:#ffffff">TUPAY Docker</h1>
              </div>
            </a>
        </div>
    </div>
    <!-- /.container -->
</nav>

<body>
{% block body %}
	<!-- Page Heading/Breadcrumbs -->
	<div class="section sub-header">
		<div data-wow-duration="4s" style="visibility: visible; animation-duration: 4s; animation-name: bounceInRight;" class="container bounceInRight animated">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Create
						<small>New Host</small>
					</h1>
					<ol class="breadcrumb">
						<li><a href="/"><i class="fa fa-home"></i> Home</a>
						</li>
						<li class="active">New Host</li>
					</ol>
				</div>
			</div>
		</div>
	</div>

    <!-- Page Content -->
    <div class="container">
      <div class="well">
          <p><h3>Container will include automaticly after submit machine IP.</h3></p>
      </div>
      <!-- Service Tabs -->
      <div class="well">
          <h4>Add Machine:</h4>
          <form action="{{ request.path }}" method="post">
        <div class="row">
          <div class="col-md-4">
            <label for="ip">IP<span class="required">*</span></label>
            <input class="form-control" type="text" aria-required="true" size="30" value="" name="ip" id="ip">
          </div>
          <div class="col-md-4">
            <label for="port">Port<span class="required">*</span></label>
            <input class="form-control" type="text" aria-required="true" size="30" value="" name="port" id="port">
          </div>
          <div class="col-md-4">
            <label for="details">Details Category<span class="required"></span></label>
						<select class="form-control" name="details" id="details">
							{% for data_categorys in data_category %}
  						<option value="{{data_categorys[0]}}">{{data_categorys[1]}}</option>
							{% end %}
						</select>

          </div>
        </div>
        <div class="row" style="margin-top: 20px;">
          <div class="col-md-12">
            <input style="margin-top: 15px;" type="submit" class="btn btn-primary" value="Submit Machine" id="submit" name="submit">
						<input style="margin-top: 15px;" class="btn btn-primary" value="Create Category" onclick="window.open('/category', '_self', '');" href="#"></input>
					</div>
        </div>
        {% module xsrf_form_html() %}
      </form>
      </div>

	   </div>
{% end %}

</body>
<!-- Footer -->
<footer class="bounceInUp animated" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: bounceInUp;">
  <!-- Start Copyright -->
    <div class="copyright-section">
      <div class="row">
        <div class="col-md-6">
          <p>© 2016 Tupay - All Rights Reserved Tupay </p>
        </div>
        <!-- .col-md-6 -->
        <div class="col-md-6">
          <ul class="footer-nav">
      <li><a href="#"><i class="fa fa-home"></i></a>
            </li>
    <li><a href="#">About Us</a>
            </li>
          </ul>
        </div>
  <!-- .col-md-6 -->
      </div>
      <!-- .row -->
   </div>
  <!-- End Copyright -->
</footer>

