{% extends "header.html" %}
<body>
{% block body %}
	<!-- Page Heading/Breadcrumbs -->
	<div class="section sub-header">
		<div data-wow-duration="4s" style="visibility: visible; animation-duration: 4s; animation-name: bounceInRight;" class="container bounceInRight animated">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Container {{ name_container }}
                                                {% if 'bridge' in container['NetworkSettings']['Networks'] %}
						<small>{{ container['NetworkSettings']['Networks']['bridge']['IPAddress'] }}</small>
     						{% else %}
						<small>Bridge not found</small>
						{% end %}
					</h1>
					<ol class="breadcrumb">
						<li><a href="/"><i class="fa fa-home"></i> Home</a>
						</li>
						<li class="active">Info {{ name_container }}</li>
					</ol>
				</div>
			</div>
		</div>
	</div>

    <!-- Page Content -->
    <div class="container">
      <div class="well">
          <p><h3>Image ID : {{ container_id }}</h3></p>
      </div>
      <!-- Service Tabs -->
          <div class="row">
        <div class="col-lg-8">
          <h2 class="page-header">Detail Container</h2>
                  <ul id="myTab" class="nav nav-tabs nav-justified">
                      <li class=""><a href="#service-one" data-toggle="tab"> Network Setting</a>
                      </li>
                      <li class=""><a href="#service-two" data-toggle="tab"> IP Config</a>
                      </li>
                      <li class=""><a href="#service-three" data-toggle="tab"> Host Config</a>
                      </li>
                      <li class=""><a href="#service-four" data-toggle="tab"> Mounts</a>
                      </li>
                      <li class="active"><a href="#service-five" data-toggle="tab"> Logs</a>
                      </li>
                  </ul>
									{% from hurry.filesize import size %}
                  <div id="myTabContent" class="tab-content">
                      <div class="tab-pane fade" id="service-one">
                          <h4>Network</h4>
													</br>
													<p>

														{% if 'bridge' in container['NetworkSettings']['Networks'] %}
														{% for netwok_setting_key in container['NetworkSettings']['Networks']['bridge'] %}
															{% set data_network = netwok_setting_key,':',container['NetworkSettings']['Networks']['bridge'][netwok_setting_key] %}
															{% set data_list = list(data_network) %}
															{{ data_list[0] }} : {{ data_list[2] }}
														</br>
														{% end %}
														{% else %}
														<p>Bridge not found</p>
														{% end %}
													</p>
											</div>
                      <div class="tab-pane fade" id="service-two">
                        <h4>IP Config</h4>
												</br>
												<p>
												{% if 'bridge' in container['NetworkSettings']['Networks'] %}
												{% if container['State']['Running'] == True %}
													{% for netwok_ports in container['NetworkSettings']['Ports'] %}
														{% set data_network = netwok_ports,':',container['NetworkSettings']['Ports'][netwok_ports] %}
														{% set data_ports = list(data_network) %}
														{{ data_ports[0] }} : {{ data_ports[2] }}

													{% end %}
												{% else %}
													None
												{% end %}
                          										IPAddress : {{ container['NetworkSettings']['IPAddress'] }}</br>
													Gateway : {{ container['NetworkSettings']['Gateway'] }}</br>
													IPv6Gateway : {{ container['NetworkSettings']['IPv6Gateway'] }}</br>
												{% else %}
													<p>Bridge not found</p>
                                                                                                {% end %}
												</p>
                      </div>
                      <div class="tab-pane fade" id="service-three">
                          <h4>Host Config</h4>
													</br>
													<p>
													Dns : {{ container['HostConfig']['Dns'] }}</br>
													NetworkMode : {{ container['HostConfig']['NetworkMode'] }}</br>
													<!--AutoRemove :  container['HostConfig']['AutoRemove'] </br>-->
													ExtraHosts : {{ container['HostConfig']['ExtraHosts'] }}</br>
													GroupAdd : {{ container['HostConfig']['GroupAdd'] }}</br>
													Privileged : {{ container['HostConfig']['Privileged'] }}</br>
													PortBindings : {{ container['HostConfig']['PortBindings'] }}</br>
													DnsOptions : {{ container['HostConfig']['DnsOptions'] }}</br>
													CpusetCpus : {{ str(container['HostConfig']['CpusetCpus']) }}</br>
													CMD : {{ ' '.join(container['Config']['Cmd'])}}</br>
												</p>
                      </div>


                      <div class="tab-pane fade" id="service-four">
                          <h4>Mounts</h4>
                                                                                                        </br>
                                                                                                        <p>
                                                                                                        {% for mount in container['Mounts'] %}

													Source : {{ mount['Source'] }}</br>
													Destination : {{ mount['Destination'] }}</br>
													RW : {{ mount['RW'] }}</br>
													</br>
													{% end %}
													</br>
                                                                                                </p>
                      </div>

                      <div class="tab-pane fade active in" id="service-five">
                          <h4>Logs STDOUT</h4>
                                                                                                        </br>
                                                                                                        <p>
														<pre>{{ logs_value.replace('/r/n','</br>') }}</pre>
                                                                                                        </p>
                      </div>
                  </div>
        </div>
        <div class="col-lg-4">
          <h2 class="page-header">Host Info</h2>
          <div class="panel-group" id="accordion">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Machine Info</a>
                              </h4>
                          </div>
                          <div id="collapseOne" class="panel-collapse collapse in">
                              <div class="panel-body">
																<p>	<b>{{ str(platform['Name']) }}</b></br>
																						{{ str(platform['ServerVersion']) }} | {{ str(platform['Driver']) }} </br>
																						{{ str(platform['OperatingSystem']) }} ({{ str(platform['KernelVersion']) }})</br>
																						Docker Root Dir : {{ str(platform['DockerRootDir']) }}</br>
																						{{ str(platform['NCPU']) }}Core | {{ str(size(platform['MemTotal'])) }} RAM</br>
																						<b>{{ str(platform['Labels']) }}</b></br>
																</p>
                              </div>
                          </div>

                      </div>
											
                      <!-- /.panel -->

                  </div>
                  <!-- /.panel-group -->
        </div>
      </div>
	</div>

  <script src="{{ static_url("js/jquery.js") }}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{{ static_url("js/bootstrap.min.js") }}"></script>
{% end %}
</body>>
