{% extends "header.html" %}
<body>
{% block body %}

	<!-- Page Heading/Breadcrumbs -->
	<div class="section sub-header">
		<div data-wow-duration="4s" style="visibility: visible; animation-duration: 4s; animation-name: bounceInRight;" class="container bounceInRight animated">
			<div class="row">
				<div class="col-lg-12">
					<ol class="breadcrumb">
						<li><a onclick="window.open('/', '_self', '');window.onbeforeunload = null;window.onunload = null;"><i class="fa fa-home"></i> Home</a>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>

  <div class="footer-well">
		<div class="container">
				<div class="row">
					<div class="col-md-8">
						<h2><strong>Machine Information</strong></h2>
            <p>RAM {{ machine_info['TotalMI'] }} | Machine STORAGE {{ machine_info['TotalSI'] }}</br>
      			<!-- Machine OS  machine_info['OSMI']  | Machine Base  machine_info['MachineMI'] </br> -->
      			Kernel Information {{ machine_info['KernelMI'] }}</br>
      			Processor Information {{ machine_info['ProcessorMI'] }}Core</p>
					</div>
					<div class="col-md-4">
                                                <div class="button-side text-right">
            					<center>
                    					<h3>YIELD DATA FILTER</h3></br>
                                                                                <h3>({{ str(data_catgory[0][0]) }})</h3>
            					</center>
                                                </div>
                                        </div>

			</div>
		</div>
	</div>

	<div style="padding-top:10%"/>

	<!-- Welcome Panel Section -->
	<div class="section welcome-panel">
	<div class="container">
    <h2 class="page-header">Host & Container</h2>
		<div class="row">
		<head>
			<!-- jQuery -->
			<script src="{{ static_url("js/jquery.js") }}"></script>

			<!-- Bootstrap Core JavaScript -->
			<script src="{{ static_url("js/bootstrap.min.js") }}"></script>

			<style>
					iframe {
							border: none;
							overflow-y;
					}
			</style>

			<!-- Include jQuery Mobile stylesheets -->
			<link rel="stylesheet" href="{{ static_url("css/jquery.mobile-1.4.5.min.css") }}">

			<script src="{{ static_url("js/jquery.mobile-1.4.5.min.js") }}"></script>

			<!-- Include the jQuery Mobile library -->
			<script src="{{ static_url("js/jquery-1.11.3.min.js") }}"></script>

			<script>
                        window.onbeforeunload = null;
 			window.onunload = null;
                        // Opera 8.0+
			var isOpera = (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;
    			// Firefox 1.0+
			var isFirefox = typeof InstallTrigger !== 'undefined';
    			// At least Safari 3+: "[object HTMLElementConstructor]"
			var isSafari = Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0;
    			// Internet Explorer 6-11
			var isIE = /*@cc_on!@*/false || !!document.documentMode;
    			// Edge 20+
			var isEdge = !isIE && !!window.StyleMedia;
    			// Chrome 1+
			var isChrome = !!window.chrome && !!window.chrome.webstore;
    			// Blink engine detection
			var isBlink = (isChrome || isOpera) && !!window.CSS;

			if (isFirefox === false){
				window.alert("Full support in mozilla firefox !!")
			}
                        </script>
		</head>


	{% from hurry.filesize import size %}
	{% import re %}
	{% for data_host in data_hosts %}
            	<div class="col-md-3">
		{% if int(str(data_host[1])[-1:]) %2==0 %}
                	<div class="panel panel-info">
		{% else %}
			<div class="panel panel-success">
		{% end %}
                <div class="panel-heading">
                <h4>
                	<i class="fa fa-fw fa-rocket"></i>
                	{{ str(data_host[1]) }} ({{ str(data_host[4]) }})
                	<div style="float: right;">
				<a onclick="window.open('/delete/{{ str(data_host[0]) }}', '_self', '');window.onbeforeunload = null;window.onunload = null;" href="#"><button class="btn btn-warning btn-xs" type="button">Del</button>
				</a>
			</div>
                 </h4>
                 </div>
                 <div class="panel-body">
		 <center>
                 <p>
		 <b>{{ str(data[data_host[1]+'-Platform']['Name']) }}</b></br>
		 {{ str(data[data_host[1]+'-Platform']['ServerVersion']) }} | {{ str(data[data_host[1]+'-Platform']['Driver']) }}</br>
		 {{ str(data[data_host[1]+'-Platform']['OperatingSystem']) }} ({{ str(data[data_host[1]+'-Platform']['KernelVersion']) }})</br>
		 {{ str(data[data_host[1]+'-Platform']['NCPU']) }}Core | {{ str(size(data[data_host[1]+'-Platform']['MemTotal'])) }} RAM</br>
		 <b>{{ str(data[data_host[1]+'-Platform']['Labels']) }}</b></br>
		 <b>Category {{ str(data_catgory[0][0]) }}</b>
		 </p>
		 </center>
                 <hr>
		 <h5>
		 {% for container in range(len(data[data_host[1]+'-Container'])) %}
		 	<ul>
		 	<i class="fa fa-fw fa-database"></i>
		 	{% set m = re.search("(Up.*)", str(data[data_host[1]+'-Container'][container]['Status'])) %}
		 	{% if m and data_host[4] == 'OK' %}
		 		<a style="color:green">
			 	{{ str(data[data_host[1]+'-Container'][container]['Names'][0]).replace('/','') }}
				</a>
			 {% else %}
		 		<a style="color:red">
			 	{{ str(data[data_host[1]+'-Container'][container]['Names'][0]).replace('/','') }}
				</a>
			 {% end %}

			 <a href="#" style="color:#059" class="dropdown-toggle" data-toggle="dropdown">
			 <b class="caret"></b>
			 </a>
			 <ul data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: flipInX;" class="dropdown-menu flipInX animated">
        	         <li>
                         {% if m %}
				<a style="color:#059 display: block;">
                                Start
                                </a>
                         {% else %}
                                {% if data_host[4] == 'FAIL' %}
				<a style="color:#059 display: block;">
                                Start
                                </a>
				{% else %}
				<a style="color:#059" onclick="window.open('/start/{{ str(data[data_host[1]+'-Container'][container]['Names'][0]).replace('/','') }}ip={{ str(data_host[1]) }}', '_self', '');window.onbeforeunload = null;window.onunload = null;" href="#">Start
                                </a>
				{% end %}
                         {% end %}
  			 </li>
			 <li>
			 {% if m and data_host[4] == 'OK' %}
			 	{% if 'active' in data_cont[str(data[data_host[1]+'-Container'][container]['Names'][0]).replace('/','')+"ip="+str(data_host[1])] %}
					<a style="color:#059 display: block;">Stop (disabled)</a>
				{% else %}
        	                        <a style="color:#059" onclick="window.open('/stop/{{ str(data[data_host[1]+'-Container'][container]['Names'][0]).replace('/','') }}ip={{ str(data_host[1]) }}', '_self', '');window.onbeforeunload = null;window.onunload = null;" href="#">Stop</a>
				{% end %}
			{% else %}
				<a style="color:#059 display: block;">Stop (disabled)</a>
			{% end %}
			</li>
			<li>
			{% if m and data_host[4] == 'OK' %}
				<a style="color:#059" onclick="window.open('/attach/{{ str(data[data_host[1]+'-Container'][container]['Names'][0]).replace('/','') }}ip={{ str(data_host[1]) }}', '_self', '');window.onbeforeunload = null;window.onunload = null;" href="#">
				{% if 'active' in data_cont[str(data[data_host[1]+'-Container'][container]['Names'][0]).replace('/','')+"ip="+str(data_host[1])] %}
					<b style="color:green">Console</b>
				{% else %}
					<b style="color:red">Console</b>
				{% end %}
				({{ data_cont[str(data[data_host[1]+'-Container'][container]['Names'][0]).replace('/','')+"ip="+str(data_host[1])][0] }})
				</a>
			{% else %}
				<a style="color:#059 display: block;">
				Console (not active)
				</a>
			{% end %}
			</li>
        	        <li>
			{% if 'active' in data_cont[str(data[data_host[1]+'-Container'][container]['Names'][0]).replace('/','')+"ip="+str(data_host[1])] %}
				<a style="color:#059" href="#popupVideo{{ str(data[data_host[1]+'-Container'][container]['Names'][0]).replace('/','') }}ip={{ str(data_host[1]) }}" data-rel="popup" data-position-to="window" class="ui-btn ui-corner-all ui-shadow ui-btn-inline">Attach</a>
			{% else %}
				<a style="color:#059 display: block;">Attach</a>
			{% end %}
			</li>
			<li>
                	        <a style="color:#059" onclick="window.open('/detail/{{ str(data[data_host[1]+'-Container'][container]['Names'][0]).replace('/','') }}ip={{ str(data_host[1]) }}container_id={{str(data[data_host[1]+'-Container'][container]['Id'])}}', '_self', '');window.onbeforeunload = null;window.onunload = null;" href="#">Detail</a>
		        </li>
			{% if 'active' in data_cont[str(data[data_host[1]+'-Container'][container]['Names'][0]).replace('/','')+"ip="+str(data_host[1])] %}
				<div style="padding-bottom:50px;" data-role="popup" id="popupVideo{{ str(data[data_host[1]+'-Container'][container]['Names'][0]).replace('/','') }}ip={{ str(data_host[1]) }}" data-overlay-theme="a" data-theme="a" data-tolerance="15,15" class="ui-content">
					<iframe src="http://103.49.220.200:{{ str(data_cont[str(data[data_host[1]+'-Container'][container]['Names'][0]).replace('/','')+'ip='+str(data_host[1])][1]) }}" width="800" height="500" onclick="window.parent.ScrollToTop();">
					</iframe>
					<div class="button-side text-right">
						<a style="float: right;color:#059" href="http://103.49.220.200:{{ str(data_cont[str(data[data_host[1]+'-Container'][container]['Names'][0]).replace('/','')+'ip='+str(data_host[1])][1]) }}">
						</a>
						<a style="float: left;color:#059" onclick="window.open('/attach/{{ str(data[data_host[1]+'-Container'][container]['Names'][0]).replace('/','') }}ip={{ str(data_host[1]) }}', '_self', '');window.onbeforeunload = null;window.onunload = null;" href="#">
						<p>Close Tab</p>
						</a>
					</div>
				</div>
			{% else %}
				<div style="padding-bottom:50px;" data-role="popup" id="popupVideo{{ str(data[data_host[1]+'-Container'][container]['Names'][0]).replace('/','') }}ip={{ str(data_host[1]) }}" data-overlay-theme="a" data-theme="a" data-tolerance="15,15" class="ui-content">
				</div>
			{% end %}
                	</ul>
			</ul>
		 {% end %}

		 </h5>
                 </div>
                </div>
        </div>
	{% end %}



  			</div>
  			<!-- /.row -->
	</div>
	</div>
	<!-- End Welcome Panel Section -->


	<div style="padding-top:10%"/>

</div>
{% end %}

</body>
