<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tupay Management Docker">
    <meta name="author" content="Tupay">

    <title>{{ escape(handler.settings["tupay_title"]) }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ static_url("css/bootstrap.min.css") }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ static_url("css/style.css") }}" rel="stylesheet">

	<!-- Animate CSS -->
    <link href="{{ static_url("css/animate.css") }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ static_url("font-awesome/css/font-awesome.min.css") }}" rel="stylesheet" type="text/css">
</head>

<!-- Navigation -->
<nav class="navbar navbar-inverse osahan-header" role="navigation">
    <div class="container">
        <!-- Brand -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" onclick="window.open('/', '_self', '');" href="#">
              <div class="title text-center">
                <h1 style="color:#ffffff">TUPAY Docker</h1>
              </div>
            </a>
        </div>
        <!-- nav links -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: flipInY;" class="flipInY animated">
                    <a onclick="window.open('/', '_self', '');" href="#"><i class="fa fa-home"></i>Home</a>
                </li>
                {% import pymysql %}
                  {% set db = pymysql.connect(host='127.0.0.1', user='root', password='root', database='tupay_manage') %}
                  {% set cursor = db.cursor() %}
                  {% set hosts = cursor.execute("SELECT * FROM category") %}
                  {% set data_category = cursor.fetchall() %}
                <li data-wow-duration="4s" style="visibility: visible; animation-duration: 4s; animation-name: flipInY;" class="dropdown flipInY animated">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Category <b class="caret"></b></a>
                        <ul data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: flipInY;" class="dropdown-menu flipInY animated">
                          {% for data_categorys in data_category %}
                            <li>
                                <a style="color:brown" onclick="window.open('/filter/{{ data_categorys[0] }}', '_self', '');" href="#">{{ data_categorys[1] }}</a>
                            </li>
                          {% end %}
                        </ul>
                </li>
                <li data-wow-duration="3s" style="visibility: visible; animation-duration: 3s; animation-name: flipInY;" class="flipInY animated">
                    <a onclick="window.open('/about', '_self', '');" href="#">About</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

{% block body %}{% end %}

<!-- Footer -->
<footer class="bounceInUp animated" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: bounceInUp;">
  <!-- Start Copyright -->
    <div class="copyright-section">
      <div class="row">
        <div class="col-md-6">
          <p>© 2016 Tupay - All Rights Reserved Tupay </p>
        </div>
        <!-- .col-md-6 -->
        <div class="col-md-6">
          <ul class="footer-nav">
      <li><a href="#"><i class="fa fa-home"></i></a>
            </li>
    <li><a href="#">About Us</a>
            </li>
          </ul>
        </div>
  <!-- .col-md-6 -->
      </div>
      <!-- .row -->
   </div>
  <!-- End Copyright -->
</footer>
<!-- /.container -->
</html>
